.page-title {
    color: #747474;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px #ddd dotted;
}

label {
    color: #999;
    font-size: 1.1em;
}

.form-control {
    border-radius: 0 !important;
    padding: 5px 15px;
    min-height: 50px;
}

.btn {
    border-radius: 0 !important;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 10px 20px;
}